//Profile config names for nf-core/configs
params {
  config_profile_description = 'Generic MPI-EVA cluster(s) profile provided by nf-core/configs.'
  config_profile_contact = 'James Fellows Yates (@jfy133)'
  config_profile_url = 'https://eva.mpg.de'
}

// Preform work directory cleanup after a successful run
cleanup = true

process {
    executor = 'sge'
    penv = 'smp'
}

